# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [29]:
num_1 = 12

#### 2. asign any number of type float to the variable "num_2"

In [30]:
num_2 = 3.1415926

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [31]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [32]:
type(total)

float

#### 5. assign variable "height" with your height

In [33]:
height = 1.75

#### 6. asign variable "mass" with your weight

In [34]:
mass = 80

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [35]:
bmi = mass / (height ** 2)

#### 8. print value from "bmi" variable

In [36]:
print(bmi)

26.122448979591837

# String

#### 1. Create variable "name" with your first name

In [37]:
name = "Yashwant"

#### 2. Create variable "surname" with your surname

In [38]:
surname = "Parmar"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [39]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [40]:
print(name_surname)

Yashwant Parmar

#### 5. print first letter from variable "name_surname"

In [41]:
print(name_surname[0])

Y

#### 6. print your name (without empty space) from variable "name_surname"

In [42]:
print(name_surname.replace(' ',''))

YashwantParmar

#### 7. print your surname 10x (use variable surname)

In [43]:
print(surname * 10)

ParmarParmarParmarParmarParmarParmarParmarParmarParmarParmar

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [44]:
message = "Hello my name is " + name_surname

#### 9. print "message" variable

In [45]:
print(message)

Hello my name is Yashwant Parmar

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [55]:
str1 = "JhonDipPeta"

ind1 = (len(str1)-1)//2 - 1
ind2 = ind1 + 3
print(str1[ind1:ind2])

Dip

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [59]:
s1 = "Ault"
s2 = "Kelly"

half = len(s1)//2
s3 = s1[0:half] + s2 + s1[half:]
print(s3)

AuKellylt

## List

#### 1. create empty list with name "empty_list"

In [60]:
empty_list = []

#### 2. create list "heights" with five random values

In [62]:
heights = [99, 17, 3, 55, 184]

#### 3. print heights

In [63]:
print(heights)

[99, 17, 3, 55, 184]

#### 4. print type of variable "heights"

In [71]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [65]:
print(heights[1])

17

#### 6. assign last three values from "heights" to another list "heights_2"

In [66]:
heights_2 = heights[2:]

#### 7. print "heights_2"

In [67]:
print(heights_2)

[3, 55, 184]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [68]:
list_all = heights + heights_2

#### 9. print "list_all"

In [69]:
print(list_all)

[99, 17, 3, 55, 184, 3, 55, 184]

#### 10. print the type of "list_all"

In [72]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [73]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [74]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [75]:
#Lists are mutable, tuples are not

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [77]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [82]:
heights_dict = {'Yashwant': 1.75}

#### 3. asign another name and height to `heights_dict`

In [87]:
heights_dict['New Name'] = 1.8

#### 4. print `heights_dict` dictionary

In [88]:
print(heights_dict)

{'Yashwant': 1.75, 'New Name': 1.8}

#### 5. print your height from the `heights_dict` dictionary

In [89]:
print(heights_dict['Yashwant'])

1.75

#### 6. print all values from `heights_dict` dictionary

In [90]:
print(heights_dict.values())

dict_values([1.75, 1.8])

#### 7. print all keys from `heights_dict` dictionary

In [91]:
print(heights_dict.keys())

dict_keys(['Yashwant', 'New Name'])